.emptyDiv {
  height: 1rem;
  width: 3rem;
}

.input-area {
  width: 1.3rem;
  height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  border: none;
  border-bottom: 0.1rem black solid;
  margin: 0.5rem;
  justify-self: end;
}
.output {
  margin-top: 1rem;
  display: block;
}

.input-area:focus {
  outline: none;
}
.input-button {
  font-size: 1.5rem;
}
@media screen and (width<1000px) {
  .input-area {
    height: 2rem;
  }
  .output {
    display: block;
  }
}
