@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,700&display=swap");

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input-section > * {
  border: none;
  font-size: 3vw;
  font-family: "Josefin Sans";

  text-align: center;
}

.input {
  border-bottom: 0.1rem black solid;
  width: 80%;
}

.input:focus {
  outline: 0;
}

.input-button {
  background-color: aqua;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 500ms;
}

.background-hover:hover{
background-color: rgb(68, 62, 62);
color: white;
}
