.input-button {
  background-color: #00ffff;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 500ms;
  font-family: "Josefin Sans";
  width: 15rem;
  font-size: 2rem;
}

.background-hover:hover {
  background-color: rgb(46, 196, 176);
  color: white;
}

.output-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area:focus {
  outline: none;
}

.result {
  color: rgb(46, 189, 46);
  transition: all 500ms;
}
.check {
  margin-top: 3rem;
}

.correct {
  animation: correct;
  animation-duration: 1s;
}

.blanks{
  color: rgb(189, 59, 59)
}


@keyframes correct {
  0% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (width<1000px) {
  .input-button {
    font-size: 3vw;
  }
  .input-area {
    font-size: 4vw;
    height: 3vw;
    width: 3vw;
  }
}
